{% extends "::base.html.twig" %}

{% if is_granted('ROLE_READER') and app.request.get('version') == 'last' %}
    {% set currentVersion = article.currentVersion(false) %}
{% else %}
    {% set currentVersion = article.currentVersion(true) %}
{% endif %}

{% block stylesheets %}
    <style>
        {{ currentVersion.css|raw }}
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        {{ currentVersion.js|raw }}
    </script>
{% endblock %}

{% block body %}
    <h1>{{ currentVersion.title }}</h1>
    
    <div>
        {{ currentVersion.content|raw|nl2br }}
    </div>
{% endblock body %}
