<!doctype html>
<html>
    <head>
        <title>Undefined Welcome Page</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Undefined Welcome Page</h1>
        
        <p>
            Page d'accueil non encore écrite.
        </p>
    </body>
</html>