{% extends '::base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('js/jstree/dist/themes/default/style.min.css') }}" />    

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jstree/dist/jstree.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#toto').jstree({
                "core": {
                    "animation": 0,
                    "check_callback": true,
                    "themes": {"stripes": true},
                    'data': {
                        'url': function(node) {
                            return node.id === '#' ?
                                    'ajax_demo_roots.json' : 'ajax_demo_children.json';
                        },
                        'data': function(node) {
                            return {'id': node.id};
                        }
                    }
                },
                "types": {
                    "#": {
                        "max_children": 1,
                        "valid_children": ["root"]
                    },
                    "root": {
                        "icon": "/static/3.0.2/assets/images/tree_icon.png",
                        "valid_children": ["default"]
                    },
                    "default": {
                        "valid_children": ["default", "file"]
                    },
                    "file": {
                        "icon": "glyphicon glyphicon-file",
                        "valid_children": []
                    }
                },
                "plugins": [
                    "contextmenu", "dnd", "search",
                    "state", "types", "wholerow"
                ]
            });
            $('#jstree').jstree();

            $('#jstree').on("changed.jstree", function(e, data) {
                console.log(data.selected);
            });

            $('#jstree').jstree(true).select_node('child_node_1');
            $('#jstree').jstree('select_node', 'child_node_1');
            $.jstree.reference('#jstree').select_node('child_node_1');

        });
    </script>
{% endblock %}

{% block body %}

    {% for menu in listeMenu %}
        <div> {{ menu.id ~ " " ~ menu.name }} </div>
    {% endfor %}

    <div id="jstree"> 
        <ul>
            <li> Root node1
                <ul>
                    <li id="child_node_1">Child node 1</li>
                    <li>Child node 2</li>
                </ul>
            </li>
        </ul>
    </div>


{% endblock %}